build
dist / media
node_modules
.pnpm-store/
*.tsbuildinfo
.DS_Store
.env
.env.*
!.env.example
!.env.production.example
.next
next-env.d.ts
.vercel

# Payload default media upload directory
public/media/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
